apiVersion: v1
kind: Secret
metadata:
  name: application-secrets
type: Opaque
data:
  rails-master-key: <base64hash>
  secret-key-base: <base64hash>
  govuk-notify-api-key: <base64hash>
  sentry-dsn: <base64hash>
